[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
numpy = "==1.18.1"
pyzmq = "==18.1.1"
pyqtgraph = "==0.10.0"
vispy = "==0.6.4"
pyqt5 = "==5.14.1"
PyQt5-sip= "==12.7.1"
pytest = "==5.3.5"
scipy = "==1.4.1"
h5py = "==2.10.0"
mne = "==0.19.2"

[requires]
python_version = "3.7"
